.inner-square {
  height: 100%;
  width: 100%;
  color: white;
  background-color: transparent;
  border: 3px solid rgb(34, 156, 150);
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0;
  @media screen and (min-width: 500px) {
    font-size: 60px;
  }
  &:enabled {
    cursor: pointer;
  }
}

.text-blue {
  color: rgb(14, 43, 173);
}

.text-orange {
  color: rgb(223, 150, 14);
}
