.inner-square {
  height: 100%;
  width: 100%;
  margin: 5px;
  color: #AFC6D0;
  background-color: #1F3641;
  border: 1px solid #1A2A33;
  font-size: 40px;
  font-weight: 600;
  font-family: "Sour Gummy", sans-serif;
  text-transform: uppercase;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.75);
  @media screen and (min-width: 500px) {
    margin: 10px;
    font-size: 95px;
  }
}

.text-x {
  color: #31C3BD;
}

.text-o {
  color: #F2B137;
}

.win {
  background-color: #165116;
}