<div class="background">
  <section class="container">
    <div style="margin-bottom: 30px; padding-top: 30px;">
      <button (click)="togglePlayers()" [disabled]="!playComputer" style="margin-right: 5px;">2 Players</button>
      <button (click)="togglePlayers()" [disabled]="playComputer">Play vs Computer</button>
    </div>
    <div [ngClass]="{'complete': isGameWon || isGameDraw}" class="grid">
      <app-square *ngFor="let square of squares" [props]="{position: square.position, enabled: square.enabled, value: square.value}" (clickEvent)="receiveClick($event)" class="square"/>
    </div>
    <div class="row">
      <div>
        <p>Player 1 wins: {{ playerOneWins }}</p>
        <p *ngIf="!playComputer">Player 2 wins: {{ playerTwoWins }}</p>
        <p *ngIf="playComputer">Computer wins: {{ computerWins }}</p>
        <p>Draws: {{ draws }}</p>
      </div>
      <div>
        <p *ngIf="!isGameWon && !isGameDraw">It is {{ currentPlayer === 'x' ? 'Player 1\'s' : 'Player 2\'s' }} turn</p>
        <p *ngIf="isGameWon"> {{ currentPlayer === 'x' ? 'Player 1' : 'Player 2' }} has won the game. Play again?</p>
        <p *ngIf="isGameDraw"> Game ended in a draw. Play again?</p>
        <button *ngIf="isGameWon || isGameDraw" (click)="reset()" class="reset">{{'Play Again'}}</button>
      </div>
    </div>
  </section>
</div>
