<div class="background">
  <section class="container">
    <div class="player-toggle">
      <button (click)="togglePlayers()" [disabled]="!playComputer" class="player">2 Players</button>
      <button (click)="togglePlayers()" [disabled]="playComputer" class="computer">Play vs Computer</button>
    </div>
    <div class="top-row">
      <div class="turn" [ngSwitch]="!isGameDraw || !isGameWon">
        <p *ngSwitchCase="isGameDraw">Draw</p>
        <p *ngSwitchCase="isGameWon">{{ currentPlayer }} wins</p>
        <p *ngSwitchDefault>{{ currentPlayer === 'x' ? 'X' : 'O' }} turn</p>
        <button *ngIf="isGameWon || isGameDraw" (click)="reset()" class="reset">{{'Play Again'}}</button>
      </div>
    </div>
    <div [ngClass]="{'complete': isGameWon || isGameDraw}" class="grid">
      <app-square *ngFor="let square of squares" [props]="{position: square.position, enabled: square.enabled, value: square.value, win: square.win}" (clickEvent)="receiveClick($event)" class="square"/>
    </div>
    <div class="row">
      <div class="wins-x">
        <p>Player 1</p>
        <p class="number">{{ playerOneWins }}</p>
      </div>
      <div class="draws">
        <p>Draws</p>
        <p class="number">{{ draws }}</p>
      </div>
      <div class="wins-o">
        <p>{{ playComputer ? 'Computer':'Player 2'}}</p>
        <p class="number">{{ playerTwoWins }}</p>
      </div>
    </div>
  </section>
</div>
