/* You can add global styles to this file, and also import other style files */
@import './../node_modules/normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Sour Gummy", sans-serif;
}

button {
  font-weight: bold;
  font-size: 1.1rem;
  padding: 10px 20px;
  border: 1px solid rgb(34, 156, 150);
  background-color: rgb(34, 156, 150);
  border-radius: 5px;
  &:not(:disabled) {
    cursor: pointer;
  }
}

p {
  margin-top: 0;
  margin-bottom: 5px;
}
